.CreateCourt_container{

    position: relative;
    width: 100vw;
    height: max-content;

    display: flex;
    justify-content: center;

    margin-bottom: 10vh;
}

.CreateCourt{

    position: relative;
    width: 90vw;
    height: fit-content;

    margin-top: 10vh;
    background-color: rgb(151, 151, 151);
}

.CreateCourt h1{

    position: absolute;
    left: 5vw;
    top: 2.5vh;
}

.CreateCourt .form1{

    position: absolute;
    top: 12vh;

    width: inherit;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.CreateCourt .form1 input{
    width: 30vw;
    height: 5vh;
    position: relative;
    top: 2vh;
    left: 8vw;

}

.CreateCourt .form1 select{
    width: 30vw;
    height: 5vh;
}

.CreateCourt .form1 textarea{
    height: 10vh;
}

.btnContainer{
    position: absolute;
    top: 85%;
    left: 70%;

    width: 25vw;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnContainer button{

    width: 10vw;
    height: 5vh;

    background-color: chartreuse;
}

.progress{
    position: absolute;
    left: 50vw;
    top: 2.5vh;

    width: 40vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.progress button{
    width: 20vw;
    position: relative;
    margin-right: 2vw;
    margin-left: 2vw;
}

.progress li{
    list-style: none;
    height: inherit;
    text-align: center;
}


/*
    STEP 2
*/

.form2{

    position: relative;
    top: 20vh;

    width: inherit;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-bottom: 30vh;

}

.form2 .Courts{

    position: relative;

    width: inherit;
    height: max-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 20vh;

}

.form2 .Courts .ImgDiv{

    width: 45vw;
    height: max-content;

}

.form2 .Courts .ImgDiv img{

    position: relative;
    left: 5vw;

    width: 30vw;
    height: 60vh;
}

.form2 .Courts .inputsDiv{

    width: 45vw;
    height: 60vh;
    
}