
.MiClub_container{
    width: 100vw;
    height: max-content;

}

.MiClub_header{

    position: relative;

    width: 100vw;
    height: 40vh;

    background: linear-gradient(#8c6565, #8189e0);
}

.ProfileImg{

    position: relative;
    top: 8vh;

    width: max-content;
    height: max-content;
}

.img{
    width: 18vw;
    height: 25vh;
}

.nameContainer{

    position: relative;
    left: 25vw;
    top: -5vh;

    width: fit-content;
    height: fit-content;
}

.nameContainer h1{

    font-size: 2.5vw;
}

.headerButtons{

    position: absolute;
    left: 90vw;
    top: 80%;
}

.Activity_Section{

    position: relative;
    left: 0;
    top: 5vh;
    
    width: 100vw;
    height: fit-content;

}

.Activity{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    width: 75vw;

}

.Activity button{

    width: 15vw;
    height: 5vh;

}

.Content_Section{

    width: 80vw;
    height: 100vh;

    position: relative;
    top: 20vh;
    left: 50%;
    transform: translate(-50%);

}

.Content_Section h6{

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

    font-size: 2.5vw;

}